<h3>Zoom de una estrella</h3>
<video class="embed-responsive" controls>
        <source src="../resources/videos/zoom0.mp4">
</video>
<div id="app">
    <videodesc value="Zoom de una estrella con puntos en coordenadas muy altas que no permiten ver la forma completa."></videodesc>
    <div class="card mt-2">
    <div class="card-header">
    Comentarios
    </div>
    <div class="card-body">
    <escribir-comentario video="zoom-de-una-estrella"></escribir-comentario>
    <div id="comentarios">
    </div>
    </div>
    </div>
</div>