php_value display_errors 1
DirectoryIndex /pages/index.php
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
RewriteRule ^inicio$ //pages/index.php
RewriteRule ^curiosidades/formacion-de-un-cuadrado$ //pages/curiosidades/formacion-cuadrado.php [L]
RewriteRule ^curiosidades/simetria-cuadrantes$ //pages/curiosidades/simetria-cuadrantes.php [L]
RewriteRule ^curiosidades/circulos$ //pages/curiosidades/circulos.php [L]
RewriteRule ^curiosidades$ //pages/curiosidades.php [L]
RewriteRule ^videos$ //pages/videos.php [L]
RewriteRule ^videos/zoom-de-una-estrella$ //pages/videos/zoom-estrella.php [L]
RewriteRule ^videos/zoom-del-agujero-negro$ //pages/videos/zoom-agujero-negro.php [L]
RewriteRule ^videos/simetria-primer-cuarto-cuadrante$ //pages/videos/simetria.php [L]
RewriteRule ^galerias$ //pages/galerias.php [L]
RewriteRule ^galerias/editada-hd$ //pages/galerias/1.php [L]
RewriteRule ^realidad$ //pages/realidad.php [L]
RewriteRule ^como-hacerlo-en-geogebra$ //pages/tutorial.php [L]
ErrorDocument 404 /pages/error/404.php