<h1 class="text-center">Curiosidades</h1>
<div class="card-group" id="card-group">
    <!-- Card 1-->
    <card title="Formación de un cuadrado" desc="Con esas figuras puedes obtener un cuadrado..." preview="../resources/img/cadrado3.webp" href="/curiosidades/formacion-de-un-cuadrado"></card>
    <!-- Card 2-->
    <card title="Simetría de los cuadrantes" preview="../resources/img/simetria-047-087i.webp" href="/curiosidades/simetria-cuadrantes" desc="Los cuadrantes primero y cuarto y segundo y tercero..."></card>
    <!-- Card 3-->
    <card title="Círculos" preview="../resources/img/circulo_de_puntos.webp" href="/curiosidades/circulos" desc="Al sumar 0.6+0.8i o 0.8+0.6i obtienes círculos porque..."></card>
</div>