<h1 class="text-center">Curiosidades</h1>
<div class="card-group">
    <!-- Card 1-->
    <div class="card col-md-3">
        <img src="../resources/imaxes/cadrado3.webp" class="card-img-top" alt="cuadrado">
        <div class="card-body">
            <h5 class="card-title">Formación dun cadrado</h5>
            <p class="card-text">Con esas figuras podes obter un cadrado cando se dan certas condicións</p>
            <a href="#" class="btn btn-primary">Ver máis</a>
        </div>
    </div>
    <!-- Card 2-->
    <div class="card col-md-3">
        <img src="../resources/imaxes/simetria-047-087i.webp" class="card-img-top" alt="simetria ejes">
        <div class="card-body">
            <h5 class="card-title">Simetría dos cadrantes</h5>
            <p class="card-text">Os cadrantes primeiro e cuarto e segundo e terceiro</p>
            <a href="" class="btn btn-primary">Ver máis</a>
        </div>
    </div>
    <!-- Card 3-->
    <div class="card col-md-3">
        <img src="../resources/imaxes/simetria-047-087i.webp" class="card-img-top" alt="simetria ejes">
        <div class="card-body">
            <h5 class="card-title">Círculos</h5>
            <p class="card-text">Ao sumar ou restar </p>
            <a href="" class="btn btn-primary">Ver máis</a>
        </div>
    </div>
</div>