<h1 class="text-center">Curiosidades</h1>
<div class="card-group" id="card-group">
    <!-- Card 1-->
    <card title="Formación dun cadrado" desc="Con esas figuras podes obter un cadrado cando se dan certas condicións" preview="../resources/imaxes/cadrado3.webp" href="/curiosidades/formacion-dun-cadrado"></card>
    <!-- Card 2-->
    <card title="Simetría dos cadrantes" preview="../resources/imaxes/simetria-047-087i.webp" href="/curiosidades/simetria-cadrantes" desc="Os cadrantes primeiro e cuarto e segundo e terceiro"></card>
    <!-- Card 3-->
    <card title="Círculos" preview="../resources/imaxes/circulo_de_puntos.webp" href="/curiosidades/circulos" desc="Ao sumar 0.6+0.8i ou 0.8+0.6i obtes círculos porque..."></card>
</div>