<div id="app">
    <h1>Algunhas figuras que podes obter parécense a obxectos da realidade</h1>
    <card title="Rosetóns" img1="../resources/img/roseton2.webp" img2="https://i.pinimg.com/originals/68/d7/fb/68d7fb723b5d33531782b4c4c577e892.jpg" :color="color"></card>
    <card title="Antenas parabólicas" :color="color" img1="../resources/img/antena_parabolica.webp" img2="https://image.freepik.com/foto-gratis/antenas-parabolicas_5219-6299.jpg"></card>
    <card title="Bandeira imperial xaponesa" :color="color" img1="../resources/img/bandera_armada_japonesa.webp" img2="https://www.comprarbanderas.es/images/banderas/400/742-armada-imperial-japonesa_400px.jpg"></card>
    <card title="Buraco negro" :color="color" img1="../resources/img/buraco_negro.webp" img2="https://estaticos.muyinteresante.es/media/cache/760x570_thumb/uploads/images/article/58abf2505bafe8d17695d573/agujero-negro_0.jpg"></card>
    <card title="Estrelas" :color="color" img1="../resources/img/estrella_13_puntas.webp" img2="../resources/img/estrela.webp"></card>
    <card title="Disco de serra circular" :color="color" img1="../resources/img/serra.webp" img2="https://shop.r10s.jp/select-tool/cabinet/fujiwara/07/4977292303422.jpg"></card>
    <card title="Moeda de 25 pesetas" :color="color" img1="../resources/img/moneda_25_pesetas.webp" img2="https://img.milanuncios.com/fg/2288/01/228801945_1.jpg"></card>
</div>