<h1>Vídeos</h1>
<div class="card-deck" id="app">
    <card title="Zoom de una estrella" preview="../resources/miniaturas/zoom0.webp" length="1:55" href="/videos/zoom-de-una-estrella" desc="Zoom de una estrella con puntos en coordenadas muy altas que no permiten ver la forma completa."></card>
    <card title="Simetría entre el primero y el cuarto cuadrante" preview="../resources/miniaturas/simetria-prim-cua-cadrante.webp" length="0:32" href="/videos/simetria-primer-cuarto-cuadrante" desc="Fíjate en como se mueve el punto y la simetría de las figuras al cambiar el cuadrante."></card>
    <card title="Zoom del agujero negro" preview="../resources/miniaturas/buraco-negro.webp" length="2:48" href="/videos/zoom-del-agujero-negro" desc="Si aun no lo hiciste échale un vistazo a la sección de realidad."></card>
    <card title="Probando figuras" preview="../resources/miniaturas/probando-figuras.webp" length="0:55" href="/videos/probando-figuras" desc="Aquí muestro como pueden variar las figuras al mover el punto por el plano complejo"></card>
</div>