<h3 class="text-center">Vídeos</h3>
<div class="card-deck" style="margin:auto">
    <div class="card">
        <img src="../resources/miniaturas/zoom0.webp" class="card-img-top" alt="Zoom dunha estrela">
        <div class="card-body">
            <a href="/videos/zoom-de-una-estrella">
                <h5 class="card-title">Zoom de una entrella</h5>
            </a>
            <p class="card-text">Zoom de una estrella con puntos en coordenadas muy altas que no permiten ver la forma completa.</p>
            <p class="card-text"><small class="text-muted">1:55</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../resources/miniaturas/simetria-prim-cua-cadrante.webp" class="card-img-top" alt="Simetría entre el primero y el cuarto cuadrante">
        <div class="card-body">
            <a href="/videos/simetria-primer-cuarto-cuadrante">
                <h5 class="card-title">Simetría entre el primero y el cuarto cuadrante</h5>
            </a>
            <p class="card-text">Fíjate en como se mueve el punto y la simetría de las figuras al cambiar el cuadrante.</p>
            <p class="card-text"><small class="text-muted">0:32</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../resources/miniaturas/buraco-negro.webp" class="card-img-top" alt="Zoom do buraco negro">
        <div class="card-body">
            <a href="/videos/zoom-del-agujero-negro">
                <h5 class="card-title">Zoom del agujero negro</h5>
            </a>
            <p class="card-text">Si aun no lo hiciste échale un vistazo a la sección de realidad.</p>
            <p class="card-text"><small class="text-muted">2:48</small></p>
        </div>
    </div>
</div>