<h2>Simetría de los cuadrantes</h2>
<p>El segundo y el tercer cuadrante son simétricos, la representación de -a -bi es la mesma que de -a +bi dada la vuolta. También el primeiro y el cuarto, la representación de a +bi es simétrica con a -bi. Por ejemplo 0.47 + 0.87i y 0.47 - 0.87i:</p>

<div class="comparacion">
    <div class="imaxe"><img class="img-fluid" src="../resources/img/simetria047+087i.webp"></div>
    <div class="imaxe"><img class="img-fluid" src="../resources/img/simetria047-087i.webp"></div>
</div>

<p>El mismo ejemplo en el segundo y tercer cuadrante sería:</p>
<img class="img-fluid" src="../resources/img/simetria-047+087i.webp"><img class="img-fluid" src="../resources/img/simetria-047-087i.webp">