<h2>Simetría dos cadrantes</h2>
<p>O segundo e o terceiro cadrante son simétricos, a representación de -a -bi é a mesma que de -a +bi dada a volta. Tamén o primeiro e o cuarto, a representación de a +bi é simétrica con a -bi. Por exemplo 0.47 + 0.87i e 0.47 - 0.87i:</p>

<div class="comparacion">
    <div class="imaxe"><img class="img-fluid" src="../resources/imaxes/simetria047+087i.webp"></div>
    <div class="imaxe"><img class="img-fluid" src="../resources/imaxes/simetria047-087i.webp"></div>
</div>

<p>O mesmo exemplo no segundo e terceiro cadrante serían:</p>
<img class="img-fluid" src="../resources/imaxes/simetria-047+087i.webp"><img class="img-fluid" src="../resources/imaxes/simetria-047-087i.webp">